@charset "UTF-8";

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Fonts */
:root {
    --menu: "Montserrat", sans-serif;
    --titles: "Poppins", sans-serif;
    --paragraphs: "Inter", sans-serif;
    --button: "Montserrat", sans-serif;
    --footer: "Inter", sans-serif;
}

/* Colors Dark */
:root,
:root[data-theme="dark"] {
    --bg-body: #080C1C;
    --bg-body-interleaved: #0F172A;
    --bg-menu: #14213D;
    --menu-shadow-hover: #38BDF8;
    --color-titles: #F8F8F8;
    --color-paragraphs: #FFF;
    --color-icon-hover: #2979FF;
    --bg-button: #1565C0;
    --color-button: #fff;
    --hover-button: #1E6ED2;
    --shadow-button: #58a6ff80;
    --line-h1: #2979FF;
    --bg-accordion: #1565C0;
    --bg-card-skill: #fff;
    --bg-card-projects: #1b1b1d;
    --hover-card-projects: #e0e0e066;
    --shadow-btn-projects: #0d6efd66;
    --bg-form: #101218;
    --bg-clean-button: #D62828;
    --bg-clean-hover: #A4161A;

    --white: #fff;
    --black: #000;

    /* change the color of the burger menu */
    --hamburger-color: white;
    --hamburger-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Colors Light */
:root[data-theme="light"] {
    --bg-body: #F2F2F2;
    --bg-body-interleaved: #CBD5E1;
    --bg-menu: #D8DAD6;
    --menu-shadow-hover: #1b2a47;
    --color-titles: #000;
    --color-paragraphs: #0D0D0D;
    --color-icon-hover: #2979FF;
    --bg-button: #1E6ED2;
    --color-button: #fff;
    --hover-button: #233ed9;
    --shadow-button: #272727;
    --line-h1: #2979FF;
    --bg-accordion: #E3F2FD;
    --bg-card-skill: #d4d4d4;
    --bg-card-projects: #CECECE;
    --hover-card-projects: #272727;
    --shadow-btn-projects: #58a6ff80;
    --bg-form: #E0E2E8;

    --white: #000;
    --black: #fff;

    /* change the color of the burger menu */
    --hamburger-color: black;
    --hamburger-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* general */
html[data-theme='dark'] .logo {
    filter: invert(1);
}

html {
    scroll-padding-top: 70px;
}

h1 {
    font-family: var(--titles);
    color: var(--color-titles);
}

img {
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

.main h1,
.title-about,
.subtitle-accordion {
    border-bottom: 1px solid var(--line-h1);
}

/* end general */

/* CSS */
body {
    background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
    background: var(--bg-body);
    justify-content: space-between;
}

/* MENU */

header {
    border-bottom: 2px solid var(--white);
    z-index: 999;
}


.menu,
header {
    background: var(--bg-menu);
}

.navbar-nav {
    font-family: var(--menu);
}

.nav-link {
    color: var(--white);
    letter-spacing: 3px;
}

.nav-link:hover {
    color: var(--white);
    transition: .3s;
    text-shadow: 0 0 8px var(--menu-shadow-hover), 0 0 15px var(--menu-shadow-hover);
}

nav a {
    color: #fff;
    text-decoration: none;
    position: relative;
}


.navbar-toggler {
    border: 2px solid var(--white);
    color: var(--white);
}

.navbar-toggler-icon {
    background-image: var(--hamburger-icon);
}




/* Icon moon */
.header-toggle {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

#toggleTheme {
    transition: transform 0.4s ease, opacity 0.4s ease;
}

#toggleTheme.animate {
    transform: rotate(180deg);
    opacity: 0;
}


/* END MENU */


/* MAIN */

/* left */
.info-left {
    color: var(--color-titles);
}

.info-left h2 {
    letter-spacing: 2px;
}

.social a {
    color: var(--white);
}

.social a:hover {
    color: var(--color-icon-hover);
    transform: scale(1.07);
    transition: .3s;
}

.main-button,
.about-button {
    background: var(--bg-button);
    text-decoration: none;
    color: var(--color-button);
    font-family: var(--button);
}

.main-button:hover {
    transform: scale(1.02);
    box-shadow: 0 0 12px var(--shadow-button);
    background: var(--hover-button);
    transition: .3s;
}

/* rigth */
img {
    border-radius: 10%;
}

/* END MAIN */


/* ABOUT */

.about {
    background: var(--bg-body-interleaved);
    color: var(--white);
    box-shadow: 0 4px 12px #0000004d;
}

.h1-about {
    border-left: 4px solid var(--color-icon-hover);
    padding-left: 12px;
    margin-bottom: 1rem;
}

.about-p {
    line-height: 32px;
    text-align: justify;
}

.my-info {
    border-left: 4px solid #2979FF;
}

.email-about {
    color: var(--color-paragraphs);
}


.about-button:hover {
    background: var(--hover-button);
    box-shadow: 0 0 12px var(--shadow-button);
    transition: .4s;
    transform: scale(1.02);
}

/* formation + experience */
.formation-card,
.experience-card {
    font-family: var(--paragraphs);
    line-height: 20px;
}


/* curse (accordion) */
.accordion-button {
    background: var(--bg-accordion);
    color: var(--color-paragraphs);
    font-style: italic;
}

.accordion-button:focus {
    box-shadow: none;
    border-bottom: 1px solid var(--white);
}


.accordion-item {
    background: var(--bg-body);
    color: var(--color-paragraphs);
}


.accordion-body {
    line-height: 32px;
}

/* Change the color of accordion after open */
.accordion-button:not(.collapsed) {
    background-color: var(--bg-accordion);
    color: var(--white);
}

/* Change the color of arrows */
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    transition: transform 0.2s ease;
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(-180deg);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}


/* END ABOUT */


/* SKILLS */


.container-skills {
    flex-wrap: wrap;
}

.card-skill,
.card-skill p {
    background: var(--bg-card-skill); 
    color: #000;
}

.card-skill:hover {
    box-shadow: 0 0px 20px var(--shadow-button);
    transform: scale(1.05);
}


.skill-logo {
    max-width: 135px;
    max-height: 135px;
}

/* END SKILLS */


/* PROJECTS */

.projects {
    background: var(--bg-body-interleaved);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.card {
    background: var(--bg-card-projects);
    color: var(--color-paragraphs);
    font-family: var(--paragraphs);
    border: none;
    border-top: 3px solid var(--bg-button);
    box-shadow: 0 2px 10px #00000033;
    border-radius: 8px;
    transition: all 0.3s ease;
}


.card:hover {
    box-shadow: 0 12px 25px var(--hover-card-projects);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.card-img-skill {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    padding: 6px;
    margin: 2px;
    border: 1px solid var(--hover-card-projects);
    box-shadow: 0 5px 15px #0000004d;
    transition: transform 0.3s ease;
}

.card-img-skill:hover {
    transform: scale(1.05);
    transition: 0.3s ease;

}


/* btns cards projects */
.btn-projects-p {
    box-shadow: 0 4px 15px var(--shadow-btn-projects);
    background: linear-gradient(135deg, #0d6efd, #6610f2);
    color: #fff;
    border: none;
    transition: all 0.3s ease;
}

.btn-projects-c {
    box-shadow: 0 4px 15px #82828266;
    background-color: #495057;
    color: #fff;
    border: none;
    transition: all 0.3s ease;
}



.btn-projects-p:hover,
.btn-projects-c:hover {
    box-shadow: 0 8px 16px var(--shadow-btn-projects);
    transform: translateY(-2px);
    background-color: #495057;
    font-weight: 600;
    color: #fff;
}

.card:nth-child(1) {
    border-top: 3px solid #0d6efd;
}

.card:nth-child(2) {
    border-top: 3px solid #6610f2;
}

.card:nth-child(3) {
    border-top: 3px solid #dc3545;
}

/* PROJECTS */



/* FORM */
.line {
    height: 2px;
    padding-top: -50px;
    background: var(--bg-button);
    width: 220px;
}

.container-contact p {
    color: var(--color-paragraphs);
}

.social-contact a i {
    color: var(--white);
}

.social-contact a i:hover {
    color: var(--bg-button);
    transition: .3s;
}

.my-email a {
    text-decoration: none;
    color: var(--color-paragraphs);
    border-radius: 50px;
    border: 2px solid var(--white);
}

.my-email a:hover {
    background-color: var(--bg-body-interleaved);
    box-shadow: 0 0 8px var(--hover-button);
    color: var(--bg-button);
    transition: .3s;
}

.contact h2 {
    color: var(--color-titles);
}


.form {
    max-width: 600px;
    background-color: var(--bg-form);
    padding: 30px;
    border-radius: 16px;
}

form label {
    color: var(--white);
}

.text-area {
    height: 170px;
    resize: none;
}

.btn-c {
    background: var(--bg-clean-button);
    color: #fff;
}

.btn-c:hover {
    background-color: var(--bg-clean-hover);
    box-shadow: 0 0 12px var(--bg-clean-button), 0 0 4px #ff4c4c80;
    transform: scale(1.03);
    color: #fff;
}

.btn-s {
    background: var(--bg-button);
    color: #fff;
}

.btn-s:hover {
    background-color: var(--hover-button);
    box-shadow: 0 0 8px var(--shadow-btn-projects), 0 0 16px #005fcc66;
    color: #fff;

    transform: translateX(3px);
    transition: transform 0.3s ease;
}

/* END FORM */


/* FOOTER */

.footer {
    color: var(--white);
    font-family: var(--footer);
    border-top: 2px solid var(--white);
    background: var(--bg-body-interleaved);
}

footer p a {
    text-decoration: none;
    color: var(--white);
}

.my-name,
footer p i {
    color: var(--color-icon-hover);
}

/* END FOOTER */

















/* MEDIA */

/* menu */
@media (min-width: 992px) {
    .navbar-nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}